#dots1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1924px 837px #fff, 1344px 1072px #fff, 650px 963px #fff,
    588px 1572px #fff, 949px 1076px #fff, 1495px 715px #fff, 1864px 13px #fff,
    457px 120px #fff, 1181px 1419px #fff, 1032px 413px #fff, 1128px 426px #fff,
    1914px 1830px #fff, 418px 1418px #fff, 1512px 614px #fff, 549px 1838px #fff,
    1458px 1302px #fff, 1868px 134px #fff, 457px 1050px #fff, 775px 1385px #fff,
    491px 1579px #fff, 344px 107px #fff, 1562px 1408px #fff, 291px 1669px #fff,
    113px 14px #fff, 1262px 1781px #fff, 800px 1336px #fff, 1319px 88px #fff,
    1879px 1782px #fff, 964px 274px #fff, 1401px 921px #fff, 282px 532px #fff,
    1662px 1975px #fff, 451px 1651px #fff, 1642px 789px #fff, 1679px 1431px #fff,
    877px 927px #fff, 902px 191px #fff, 1408px 1658px #fff, 354px 762px #fff,
    1339px 182px #fff, 373px 115px #fff, 447px 392px #fff, 724px 1473px #fff,
    652px 1402px #fff, 1424px 944px #fff, 1013px 634px #fff, 1109px 1584px #fff,
    1898px 1271px #fff, 1013px 431px #fff, 753px 1358px #fff, 9px 1290px #fff,
    196px 711px #fff, 797px 1247px #fff, 1067px 1106px #fff, 1084px 897px #fff,
    369px 1445px #fff, 1308px 750px #fff, 1034px 888px #fff, 1119px 1599px #fff,
    1414px 1571px #fff, 654px 471px #fff, 1471px 607px #fff, 109px 1273px #fff,
    203px 231px #fff, 1015px 599px #fff, 1197px 1146px #fff, 1883px 762px #fff,
    176px 959px #fff, 1647px 1299px #fff, 1756px 673px #fff, 1087px 1842px #fff,
    1366px 515px #fff, 468px 1835px #fff, 533px 105px #fff, 1514px 1462px #fff,
    681px 47px #fff, 1211px 1821px #fff, 1719px 1451px #fff, 1388px 603px #fff,
    720px 1811px #fff, 1605px 1926px #fff, 508px 1666px #fff, 1786px 882px #fff,
    1212px 1083px #fff, 335px 764px #fff, 1639px 513px #fff, 323px 1164px #fff,
    84px 1200px #fff, 260px 1166px #fff, 1252px 1249px #fff, 148px 885px #fff,
    834px 1182px #fff, 197px 1957px #fff, 83px 829px #fff, 720px 682px #fff,
    1857px 1194px #fff, 164px 1444px #fff, 1195px 613px #fff, 491px 1131px #fff,
    1492px 1725px #fff, 1925px 1924px #fff, 1676px 543px #fff, 751px 479px #fff,
    263px 616px #fff, 144px 1780px #fff, 920px 824px #fff, 599px 359px #fff,
    1456px 1635px #fff, 1822px 1882px #fff, 578px 372px #fff, 363px 1137px #fff,
    334px 1554px #fff, 1581px 1311px #fff, 341px 511px #fff, 90px 421px #fff,
    304px 608px #fff, 1451px 762px #fff, 1696px 122px #fff, 581px 375px #fff,
    332px 24px #fff, 717px 1700px #fff, 476px 716px #fff, 600px 477px #fff;
}
