#dots1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1924px 837px #fff, 1344px 1072px #fff, 650px 963px #fff,
    588px 1572px #fff, 949px 1076px #fff, 1495px 715px #fff, 1864px 13px #fff,
    457px 120px #fff, 1181px 1419px #fff, 1032px 413px #fff, 1128px 426px #fff,
    1914px 1830px #fff, 418px 1418px #fff, 1512px 614px #fff, 549px 1838px #fff,
    1458px 1302px #fff, 1868px 134px #fff, 457px 1050px #fff, 775px 1385px #fff,
    491px 1579px #fff, 344px 107px #fff, 1562px 1408px #fff, 291px 1669px #fff,
    113px 14px #fff, 1262px 1781px #fff, 800px 1336px #fff, 1319px 88px #fff,
    1879px 1782px #fff, 964px 274px #fff, 1401px 921px #fff, 282px 532px #fff,
    1662px 1975px #fff, 451px 1651px #fff;
}
