#dots1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1924px 837px #fff, 1344px 1072px #fff, 650px 963px #fff,
    588px 1572px #fff, 949px 1076px #fff, 1495px 715px #fff, 1864px 13px #fff,
    457px 120px #fff, 1181px 1419px #fff, 1032px 413px #fff, 1128px 426px #fff,
    1914px 1830px #fff, 418px 1418px #fff, 1512px 614px #fff, 549px 1838px #fff,
    1458px 1302px #fff, 1868px 134px #fff, 457px 1050px #fff, 775px 1385px #fff,
    491px 1579px #fff, 344px 107px #fff, 1562px 1408px #fff, 291px 1669px #fff,
    113px 14px #fff, 1262px 1781px #fff, 800px 1336px #fff, 1319px 88px #fff,
    1879px 1782px #fff, 964px 274px #fff, 1401px 921px #fff, 282px 532px #fff,
    1662px 1975px #fff, 451px 1651px #fff, 1642px 789px #fff, 1679px 1431px #fff,
    877px 927px #fff, 902px 191px #fff, 1408px 1658px #fff, 354px 762px #fff,
    1339px 182px #fff, 373px 115px #fff, 447px 392px #fff, 724px 1473px #fff,
    652px 1402px #fff, 1424px 944px #fff, 1013px 634px #fff, 1109px 1584px #fff,
    1898px 1271px #fff, 1013px 431px #fff, 753px 1358px #fff, 9px 1290px #fff,
    196px 711px #fff, 797px 1247px #fff, 1067px 1106px #fff, 1084px 897px #fff,
    369px 1445px #fff, 1308px 750px #fff, 1034px 888px #fff, 1119px 1599px #fff,
    1414px 1571px #fff, 654px 471px #fff, 1471px 607px #fff, 109px 1273px #fff,
    203px 231px #fff, 1015px 599px #fff, 1197px 1146px #fff, 1883px 762px #fff,
    176px 959px #fff, 1647px 1299px #fff, 1756px 673px #fff, 1087px 1842px #fff,
    1366px 515px #fff, 468px 1835px #fff, 533px 105px #fff, 1514px 1462px #fff,
    681px 47px #fff, 1211px 1821px #fff, 1719px 1451px #fff, 1388px 603px #fff,
    720px 1811px #fff, 1605px 1926px #fff, 508px 1666px #fff, 1786px 882px #fff,
    1212px 1083px #fff, 335px 764px #fff, 1639px 513px #fff, 323px 1164px #fff,
    84px 1200px #fff, 260px 1166px #fff, 1252px 1249px #fff, 148px 885px #fff,
    834px 1182px #fff, 197px 1957px #fff, 83px 829px #fff, 720px 682px #fff,
    1857px 1194px #fff, 164px 1444px #fff, 1195px 613px #fff, 491px 1131px #fff,
    1492px 1725px #fff, 1925px 1924px #fff, 1676px 543px #fff, 751px 479px #fff,
    263px 616px #fff, 144px 1780px #fff, 920px 824px #fff, 599px 359px #fff,
    1456px 1635px #fff, 1822px 1882px #fff, 578px 372px #fff, 363px 1137px #fff,
    334px 1554px #fff, 1581px 1311px #fff, 341px 511px #fff, 90px 421px #fff,
    304px 608px #fff, 1451px 762px #fff, 1696px 122px #fff, 581px 375px #fff,
    332px 24px #fff, 717px 1700px #fff, 476px 716px #fff, 600px 477px #fff,
    1098px 1126px #fff, 1765px 1393px #fff, 1537px 212px #fff, 705px 1812px #fff,
    1783px 1273px #fff, 754px 1990px #fff, 566px 365px #fff, 1610px 673px #fff,
    1927px 630px #fff, 594px 1710px #fff, 1475px 834px #fff, 1912px 1px #fff,
    1182px 356px #fff, 1205px 713px #fff, 11px 334px #fff, 1243px 36px #fff,
    399px 966px #fff, 1080px 1695px #fff, 158px 1060px #fff, 360px 800px #fff,
    609px 311px #fff, 926px 643px #fff, 521px 1708px #fff, 894px 1625px #fff,
    730px 939px #fff, 659px 899px #fff, 742px 1478px #fff, 1468px 1221px #fff,
    1750px 1609px #fff, 921px 895px #fff, 1269px 1633px #fff, 116px 356px #fff,
    1743px 842px #fff, 502px 188px #fff, 1531px 652px #fff, 1817px 1762px #fff,
    1231px 207px #fff, 1043px 1728px #fff, 257px 139px #fff, 504px 300px #fff,
    319px 1977px #fff, 1279px 1781px #fff, 1064px 626px #fff, 1902px 1959px #fff,
    139px 715px #fff, 1978px 89px #fff, 1519px 955px #fff, 1108px 840px #fff,
    40px 1772px #fff, 452px 605px #fff, 1077px 306px #fff, 1870px 560px #fff,
    131px 729px #fff, 1182px 1739px #fff, 211px 34px #fff, 1753px 1699px #fff,
    1299px 348px #fff, 1970px 1369px #fff, 408px 1014px #fff, 430px 1239px #fff,
    1330px 1057px #fff, 1157px 1465px #fff, 1655px 815px #fff, 470px 1280px #fff,
    706px 1123px #fff, 374px 167px #fff, 1274px 1234px #fff, 27px 908px #fff,
    1479px 1395px #fff, 1885px 1154px #fff, 1432px 1540px #fff,
    261px 1521px #fff, 1237px 237px #fff, 109px 580px #fff, 259px 1372px #fff,
    1979px 1338px #fff, 1099px 386px #fff, 1919px 1475px #fff, 539px 405px #fff,
    1033px 405px #fff, 1119px 1712px #fff, 280px 800px #fff, 1495px 957px #fff,
    1381px 1655px #fff, 160px 764px #fff, 595px 768px #fff, 1349px 1518px #fff,
    1047px 1916px #fff, 1121px 393px #fff, 175px 937px #fff, 642px 1852px #fff,
    1638px 168px #fff, 1365px 1830px #fff, 803px 618px #fff, 1301px 1678px #fff,
    370px 435px #fff, 276px 1449px #fff, 903px 1126px #fff, 608px 125px #fff,
    1052px 337px #fff, 1149px 586px #fff, 162px 563px #fff, 259px 1103px #fff,
    1379px 1262px #fff, 116px 1884px #fff, 1441px 328px #fff, 258px 1791px #fff,
    1287px 422px #fff, 968px 1241px #fff, 165px 1811px #fff, 1161px 476px #fff,
    389px 722px #fff, 1158px 696px #fff, 107px 1730px #fff, 285px 836px #fff,
    543px 1892px #fff, 760px 1188px #fff, 12px 1441px #fff, 208px 1460px #fff,
    1183px 1710px #fff, 938px 1619px #fff, 1694px 1790px #fff,
    1902px 1069px #fff, 170px 1061px #fff, 1879px 1511px #fff,
    1846px 1895px #fff, 744px 1962px #fff, 1367px 798px #fff, 3px 384px #fff,
    361px 272px #fff, 1796px 239px #fff, 1061px 1749px #fff, 1584px 1512px #fff,
    1724px 1344px #fff, 1475px 218px #fff, 1612px 851px #fff, 731px 963px #fff,
    1811px 1956px #fff, 100px 1653px #fff, 802px 1368px #fff, 895px 1941px #fff,
    549px 328px #fff, 1965px 1874px #fff, 1537px 1572px #fff, 484px 1572px #fff,
    1386px 478px #fff, 27px 1888px #fff, 836px 1244px #fff, 1345px 690px #fff,
    857px 184px #fff, 1960px 714px #fff, 660px 1045px #fff, 1195px 606px #fff,
    1687px 248px #fff, 1712px 476px #fff, 443px 1926px #fff, 1815px 1108px #fff,
    525px 399px #fff, 1483px 843px #fff, 559px 263px #fff, 579px 1318px #fff,
    1056px 825px #fff, 819px 1433px #fff, 1249px 1170px #fff, 783px 884px #fff,
    73px 262px #fff, 1039px 1123px #fff, 314px 580px #fff, 1207px 341px #fff,
    43px 577px #fff, 1964px 1994px #fff, 1199px 1544px #fff, 582px 21px #fff,
    668px 406px #fff, 105px 1569px #fff, 1455px 504px #fff, 4px 1165px #fff,
    1594px 1997px #fff, 1822px 949px #fff, 1058px 1493px #fff,
    1838px 1924px #fff, 1460px 1561px #fff, 499px 998px #fff, 961px 1735px #fff,
    190px 52px #fff, 949px 1042px #fff, 1821px 539px #fff, 1687px 512px #fff,
    1419px 1029px #fff, 1714px 87px #fff, 16px 774px #fff, 691px 945px #fff,
    1665px 1746px #fff, 1463px 92px #fff, 1532px 369px #fff, 1086px 619px #fff,
    675px 1666px #fff, 457px 1428px #fff, 803px 680px #fff, 1552px 23px #fff,
    1527px 1093px #fff, 1399px 106px #fff, 1591px 492px #fff, 380px 353px #fff,
    1056px 5px #fff, 862px 105px #fff, 1887px 1778px #fff, 1806px 512px #fff,
    746px 1345px #fff, 901px 1769px #fff, 352px 460px #fff, 1114px 881px #fff,
    1811px 7px #fff, 1666px 1186px #fff, 1571px 127px #fff, 1695px 928px #fff,
    1438px 597px #fff, 1834px 603px #fff, 555px 1026px #fff, 1439px 1857px #fff,
    598px 541px #fff, 100px 776px #fff, 1506px 164px #fff, 967px 1997px #fff,
    282px 1436px #fff, 711px 830px #fff, 1653px 1062px #fff, 1659px 193px #fff,
    692px 499px #fff, 1234px 1632px #fff, 319px 1921px #fff, 1918px 85px #fff,
    1240px 77px #fff, 1746px 1591px #fff, 796px 1197px #fff, 523px 1657px #fff,
    1782px 1420px #fff, 1401px 1956px #fff, 1536px 1018px #fff, 737px 339px #fff,
    547px 1380px #fff, 1629px 1380px #fff, 362px 698px #fff, 276px 364px #fff,
    943px 898px #fff, 1898px 1597px #fff, 775px 791px #fff, 1106px 1889px #fff,
    1792px 849px #fff, 664px 396px #fff, 1135px 786px #fff, 1562px 827px #fff,
    1206px 1310px #fff, 666px 1647px #fff, 1054px 908px #fff, 215px 702px #fff,
    1956px 1485px #fff, 1304px 1267px #fff, 417px 991px #fff, 300px 1981px #fff,
    937px 1416px #fff, 698px 148px #fff, 1555px 1135px #fff, 1430px 1596px #fff,
    1337px 433px #fff, 1169px 1062px #fff, 598px 970px #fff, 909px 1217px #fff,
    1295px 1071px #fff, 352px 515px #fff, 428px 681px #fff, 961px 1993px #fff,
    1213px 1750px #fff, 225px 1286px #fff, 17px 1615px #fff, 1377px 20px #fff,
    1530px 1976px #fff, 65px 1356px #fff, 429px 950px #fff, 1480px 271px #fff,
    293px 1401px #fff, 1046px 308px #fff, 1238px 1803px #fff, 799px 1817px #fff,
    709px 1242px #fff, 997px 900px #fff, 837px 1293px #fff, 493px 121px #fff,
    136px 534px #fff, 1018px 467px #fff, 1401px 1420px #fff, 684px 1501px #fff,
    1411px 1544px #fff, 1351px 1521px #fff, 441px 933px #fff, 324px 1806px #fff,
    841px 1822px #fff, 445px 132px #fff, 1417px 1575px #fff, 1440px 859px #fff,
    555px 652px #fff, 931px 141px #fff, 990px 1855px #fff, 313px 1993px #fff,
    786px 634px #fff, 475px 598px #fff, 80px 1309px #fff, 1693px 1266px #fff,
    1033px 1378px #fff, 905px 1091px #fff, 8px 800px #fff, 1048px 28px #fff,
    296px 525px #fff, 1019px 1235px #fff, 64px 942px #fff, 142px 215px #fff,
    1186px 943px #fff, 951px 955px #fff, 1632px 998px #fff, 788px 152px #fff,
    987px 288px #fff, 1519px 776px #fff, 169px 1267px #fff, 219px 1524px #fff,
    223px 333px #fff, 911px 22px #fff, 1557px 526px #fff, 959px 1634px #fff,
    637px 1026px #fff, 1965px 2000px #fff, 306px 203px #fff, 760px 1049px #fff,
    850px 676px #fff, 1563px 1726px #fff, 726px 386px #fff, 364px 1992px #fff,
    1274px 145px #fff, 1313px 1459px #fff, 704px 884px #fff, 848px 352px #fff,
    1789px 531px #fff, 216px 445px #fff, 22px 1238px #fff, 1511px 1014px #fff,
    969px 794px #fff, 1485px 181px #fff, 867px 3px #fff, 208px 945px #fff,
    816px 849px #fff, 490px 663px #fff, 40px 1833px #fff, 566px 408px #fff,
    1923px 1903px #fff, 614px 1322px #fff, 1950px 1113px #fff, 1891px 357px #fff,
    1391px 1520px #fff, 897px 1949px #fff, 1868px 645px #fff, 1876px 692px #fff,
    1209px 2px #fff, 302px 971px #fff, 7px 881px #fff, 579px 1368px #fff,
    889px 1904px #fff, 1290px 1791px #fff, 1346px 433px #fff, 192px 435px #fff,
    506px 1963px #fff, 1117px 332px #fff, 360px 814px #fff, 145px 1938px #fff,
    419px 926px #fff, 173px 498px #fff, 450px 820px #fff, 1468px 1717px #fff,
    98px 985px #fff, 96px 1929px #fff, 1236px 299px #fff, 1088px 1007px #fff,
    33px 1847px #fff, 1305px 944px #fff, 1906px 98px #fff, 605px 1771px #fff,
    948px 974px #fff, 534px 1381px #fff, 1760px 2000px #fff, 19px 1040px #fff,
    1294px 1652px #fff, 307px 1326px #fff, 1062px 1569px #fff,
    1847px 1088px #fff, 1747px 989px #fff, 714px 1642px #fff, 586px 1509px #fff,
    1764px 1764px #fff, 1962px 1797px #fff, 1761px 1835px #fff,
    1586px 1864px #fff, 120px 1895px #fff, 400px 1524px #fff, 956px 251px #fff,
    1246px 668px #fff, 1884px 1056px #fff, 843px 1275px #fff, 497px 1724px #fff,
    1901px 641px #fff, 1078px 1611px #fff, 1521px 1892px #fff, 1383px 389px #fff,
    1144px 1387px #fff, 1869px 551px #fff, 517px 1690px #fff, 354px 20px #fff,
    1326px 1657px #fff, 386px 1688px #fff, 100px 1806px #fff, 1588px 1270px #fff,
    921px 1023px #fff, 1813px 686px #fff, 2000px 7px #fff, 1496px 1463px #fff,
    1607px 1726px #fff, 465px 1760px #fff, 840px 901px #fff, 987px 1129px #fff,
    944px 748px #fff, 897px 1971px #fff, 1571px 1195px #fff, 1822px 684px #fff,
    576px 818px #fff, 1249px 867px #fff, 384px 52px #fff, 1544px 890px #fff,
    621px 1376px #fff, 1924px 1801px #fff, 397px 1117px #fff, 1334px 933px #fff,
    111px 1592px #fff, 845px 1604px #fff, 1819px 1171px #fff, 1284px 1816px #fff,
    1345px 348px #fff, 838px 1242px #fff, 266px 916px #fff, 1750px 1646px #fff,
    1332px 970px #fff, 771px 606px #fff, 713px 1967px #fff, 469px 1230px #fff,
    904px 1553px #fff, 215px 1170px #fff, 316px 1517px #fff, 1835px 836px #fff,
    4px 681px #fff, 583px 981px #fff, 1364px 1310px #fff, 843px 118px #fff,
    139px 213px #fff, 1489px 839px #fff, 234px 476px #fff, 1651px 649px #fff,
    24px 1743px #fff, 1903px 501px #fff, 515px 278px #fff, 711px 202px #fff,
    918px 1154px #fff, 1683px 1242px #fff, 1847px 53px #fff, 1711px 1206px #fff,
    1382px 1918px #fff, 1490px 221px #fff, 244px 1051px #fff, 481px 969px #fff,
    903px 1082px #fff, 1814px 705px #fff, 1545px 949px #fff, 435px 568px #fff,
    202px 1503px #fff, 61px 486px #fff, 969px 335px #fff, 931px 308px #fff,
    691px 639px #fff, 1381px 1074px #fff, 1897px 1988px #fff, 610px 1724px #fff,
    1228px 1660px #fff, 1935px 490px #fff, 1095px 728px #fff, 1981px 1070px #fff,
    1667px 1882px #fff, 1794px 234px #fff, 1843px 1598px #fff, 1574px 584px #fff,
    1102px 1929px #fff, 1010px 794px #fff, 61px 317px #fff, 73px 543px #fff,
    866px 538px #fff, 369px 1472px #fff, 1978px 493px #fff, 921px 256px #fff,
    1402px 1072px #fff, 1136px 1581px #fff, 1158px 1093px #fff,
    476px 1451px #fff, 367px 972px #fff, 230px 120px #fff, 1176px 1797px #fff,
    1863px 1930px #fff, 1481px 1118px #fff, 1598px 1133px #fff, 37px 666px #fff,
    828px 5px #fff, 1224px 917px #fff, 934px 441px #fff, 538px 1131px #fff,
    75px 348px #fff, 803px 747px #fff, 1838px 520px #fff, 855px 1181px #fff,
    1391px 1790px #fff, 749px 1020px #fff, 1092px 451px #fff, 1974px 611px #fff,
    1654px 1835px #fff, 1690px 1101px #fff, 1106px 1902px #fff,
    660px 1839px #fff, 1100px 1834px #fff, 1743px 886px #fff, 221px 1416px #fff,
    1071px 1369px #fff, 1216px 535px #fff, 1691px 988px #fff, 521px 1704px #fff,
    113px 1148px #fff, 1510px 1419px #fff, 1572px 1828px #fff, 117px 303px #fff,
    1846px 1357px #fff, 445px 1195px #fff, 346px 1628px #fff, 1541px 754px #fff,
    771px 509px #fff, 1389px 530px #fff, 521px 1614px #fff, 1144px 1603px #fff,
    801px 249px #fff, 896px 853px #fff, 624px 300px #fff, 1989px 750px #fff,
    1700px 1993px #fff, 536px 1004px #fff, 805px 1557px #fff, 910px 1540px #fff,
    948px 1393px #fff, 566px 1321px #fff, 55px 304px #fff, 1614px 944px #fff,
    17px 457px #fff, 1291px 1249px #fff, 769px 1703px #fff, 1196px 1148px #fff,
    438px 325px #fff, 1871px 446px #fff, 216px 1391px #fff, 346px 222px #fff,
    1476px 1px #fff, 518px 929px #fff, 955px 26px #fff, 333px 1588px #fff,
    1878px 1292px #fff, 309px 774px #fff, 79px 745px #fff, 1535px 1859px #fff,
    1665px 397px #fff;
  animation: animStar 200s ease infinite;
}
@keyframes animStar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5000px);
  }
}
