@import url(//fonts.googleapis.com/css?family=VT323);
body {
  font-family: "VT323";
  font-size: 25px;
  background-color: #b1bed3;
  overflow-x: hidden;
  text-transform: uppercase;
}
.Exit {
  position: absolute;
  top: 0;
  left: 23px;
  cursor: pointer;
  opacity: 0.65;
}
.Exit:hover {
  opacity: 1;
}
.exit-icon {
  position: absolute;
  padding-left: 5px;
  font-size: 21px;
}
.Restart {
  position: absolute;
  top: 15;
  left: 23px;
  cursor: pointer;
  opacity: 0.65;
}
.Restart:hover {
  opacity: 1;
}
.restart-icon {
  position: absolute;
  padding-left: 5px;
  font-size: 21px;
}
header h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 65px;
  text-align: center;
  padding-top: 10vh;
  animation: rainbow 3.5s linear;
  animation-iteration-count: infinite;
}
.user-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  left: 46%;
}
@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
header p {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 7px;
  margin-top: -70px;
  padding-bottom: 60px;
}

#start {
  margin-left: 42%;
  font-family: "VT323";
  position: relative;
  background-color: transparent;
  border: solid 3px rgba(129, 243, 253, 1);
  border-radius: 40px;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation-name: changecolour;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: changecolour;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#start:after {
  content: "";
  background: #868679;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
}
@-webkit-keyframes changecolour {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
@keyframes changecolour {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
#count {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
}

#points {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 40px;
}

#category {
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}
#quest {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#answerT {
  margin: 5% 10% 0% 30%;

  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
#answerF {
  margin: 5% 20% 0% 15%;

  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#winner {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
}

#looser {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
}

#reset {
  background-color: #4caf50;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation-name: changecolour;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: changecolour;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin-left: 43%;
  margin-top: 5%;
}
/* Media queries starts */
@media (min-width: 110px) and (max-width: 711px) {
  header h1 {
    font-size: 45px !important;
  }

  header p {
    padding-top: 40px !important;
    font-size: 16px !important;
    letter-spacing: 7px !important;
  }

  #start {
    margin-left: 35% !important;
    margin-right: 35% !important;
  }

  #quest {
    font-size: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #answerT {
    margin: 10% 0% 0% 18% !important;
  }
  #answerF {
    margin: 10% 0% 0% 33% !important;
  }

  #reset {
    margin: 0% 27% 0% 35% !important;
  }
}

@media (min-width: 508px) and (max-width: 711px) {
  header h1 {
    font-size: 65px !important;
  }

  header p {
    letter-spacing: 7px !important;
  }
}

@media (min-width: 712px) and (max-width: 910px) {
  #start {
    margin-left: 40% !important;
  }

  #answerT {
    margin: 5% 0% 0% 30% !important;
  }
  #answerF {
    margin: 5% 0% 0% 15% !important;
  }
  #quest {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
#loadingAnimation {
  font-family: "VT323", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: rgba(129, 243, 253, 1);
}
@media (max-width: 500px) {
  #loadingAnimation {
    font-size: 1.7em;
  }
}
@media (max-width: 390px)
{
  #loadingAnimation {
    font-size: 1.3em;
  }
}
/* Media queries ends */
