@import url(//fonts.googleapis.com/css?family=VT323);
* {
  font-family: "VT323", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  letter-spacing: 0.2rem;
  overflow: hidden;
  text-transform: uppercase;
  background: radial-gradient(ellipse at bottom, #162230 0%, #07080c 100%);
}
.Exit {
  position: absolute;
  top: 13px;
  left: 23px;
  cursor: pointer;
  opacity: 0.65;
  color: #fff;
  font-size: 1.5em;
}
.Exit:hover {
  opacity: 1;
}
.exit-icon {
  position: absolute;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 0.9em;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  border-radius: 10px;
}
.game-container {
  position: absolute;
  top: 50;
  right: 50;
}
.points-display {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 20px;
  font-weight: bold;
  opacity: 1000000;
  color: aliceblue;
}
#loadingAnimation {
  font-family: "VT323", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  color: rgba(129, 243, 253, 1);
}
@media (max-width: 1028px) {
  canvas {
    width: 750px;
  }
}
@media (max-width: 500px) {
  #loadingAnimation {
    font-size: 2.5em;
  }
  .Exit {
    font-size: 1.3em;
  }
  .exit-icon {
    padding-top: 5px;
    font-size: 0.7em;
  }
}
@media (max-width: 390px) {
  #loadingAnimation {
    font-size: 1.8em;
  }
}
