@import url(//fonts.googleapis.com/css?family=VT323);
* {
  font-family: "VT323";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  letter-spacing: 0.2rem;
  overflow: hidden;
  perspective: 1400px;
  text-transform: uppercase;
  background: radial-gradient(ellipse at bottom, #162230 0%, #07080c 100%);
}
#game_enter {
  text-decoration: none;
  color: rgba(129, 243, 253, 1);
  font-size: 28px;
}
#game_enter::after {
  display: none;
}
.full-screen {
  transition: transform 0.9s cubic-bezier(0.55, 0, 0.1, 1);
}
.full-screen.show-all {
  transform: rotateY(-15deg) scale(0.25);
}
.screen-wrap {
  height: 100vh;
  width: 100vw;
}
@keyframes crt-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes crt-output {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  /*font-size: 16vmin;*/
  margin: 0;
  font-weight: 200;
  color: rgba(129, 243, 253, 1);
  text-shadow: 0rem 0.1rem 1rem rgba(129, 243, 253, 0.75);
  font-size: 4em;
  animation: crt-output 0.5ms infinite;
}
span {
  color: #fff;
}
.underscore {
  position: relative;
  right: 22px;
  display: inline-block;
  animation: crt-blink 1s infinite;
}
h2::selection {
  color: #fff;
  background: rgba(129, 243, 253, 1);
}
h2::-moz-selection {
  color: #fff;
  background: rgba(129, 243, 253, 1);
}
h2 span::selection {
  color: #fff;
  background: rgba(129, 243, 253, 1);
}
h2 span::-moz-selection {
  color: #fff;
  background: rgba(129, 243, 253, 1);
}
.screen-wrap {
  perspective: 2000px;
  transition: transform 0.9s cubic-bezier(0.55, 0, 0.1, 1);
}
.screen-wrap.animate-scale {
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform;
}
.screen:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}
.screen:before .show-all {
  pointer-events: all;
}
.screen:hover .show-all:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.screen .animate-scale {
  transform: scale(0.8);
}
.screen h2 {
  cursor: default;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}
/* Start of socials */
ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}
ul li {
  list-style: none;
}
ul li a {
  width: 60px;
  height: 60px;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  font-size: 32px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgba(129, 243, 253, 1);
  text-shadow: 0rem 0.1rem 1rem rgba(129, 243, 253, 0.75);
  z-index: 1;
}
#youtube {
  position: relative;
  color: #ff0000;
  transition: 0.5s;
  z-index: 3;
  padding-left: 2.5px;
}
ul li a #youtube {
  text-shadow: 0rem 0.1rem 1rem rgba(218, 10, 38, 0.75);
}
#linkedin {
  position: relative;
  color: #0072b1;
  transition: 0.5s;
  z-index: 3;
  padding-left: 2.5px;
}
ul li a #linkedin {
  text-shadow: 0rem 0.1rem 1rem #0892dc;
}
#twitter {
  position: relative;
  color: #00acee;
  transition: 0.5s;
  z-index: 3;
  padding-left: 2.5px;
}
ul li a #twitter {
  text-shadow: 0rem 0.1rem 1rem rgba(99, 212, 240, 0.75);
}
#facebook {
  position: relative;
  color: #4267b2;
  transition: 0.5s;
  z-index: 3;
  padding-left: 2.5px;
}
ul li a #facebook {
  text-shadow: 0rem 0.1rem 1rem rgba(8, 60, 230, 0.75);
}
ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
ul li a:hover:before {
  top: 0;
}
ul li:nth-child(1) a:before {
  background: #fff;
}
ul li:nth-child(2) a:before {
  background: #fff;
}
ul li:nth-child(3) a:before {
  background: #fff;
}
ul li:nth-child(4) a:before {
  background: #fff;
}
.screen[data-x-pos="-1"] {
  left: -100%;
}
/* End of socials */
.screen[data-x-pos="-1"][data-y-pos="1"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-x-pos="-1"] {
  left: -100%;
}
.screen[data-x-pos="-1"][data-y-pos="0"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-x-pos="-1"] {
  left: -100%;
}
.screen[data-x-pos="-1"][data-y-pos="-1"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-y-pos="1"] {
  top: -100%;
}
.screen[data-y-pos="1"][data-x-pos="0"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-y-pos="-1"] {
  top: 100%;
}
.screen[data-y-pos="-1"][data-x-pos="0"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-x-pos="1"] {
  left: 100%;
}
.screen[data-x-pos="1"][data-y-pos="1"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-x-pos="1"] {
  left: 100%;
}
.screen[data-x-pos="1"][data-y-pos="0"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen[data-x-pos="1"] {
  left: 100%;
}
.screen[data-x-pos="1"][data-y-pos="-1"] {
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.screen_zoom {
  cursor: pointer;
  left: 50%;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  z-index: 10;
  transition: ease 0.5s;
}
.screen_zoom:hover {
  opacity: 1;
}
.screen_zoom .show-all {
  pointer-events: none;
}
.screen_nav {
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}
.screen_nav-up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.screen_nav-left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}
.screen_nav-left-top {
  left: 1rem;
  top: 1rem;
}
.screen_nav-left-down {
  bottom: 1rem;
  left: 1rem;
}
.screen_nav-right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}
.screen_nav-right-top {
  right: 1rem;
  top: 1rem;
}
.screen_nav-right-down {
  bottom: 1rem;
  right: 1rem;
}
.screen_nav-down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.screen[data-x-pos="0"][data-y-pos="0"] .screen_nav.screen_nav-right.js-right {
  right: 1rem;
}
.screen[data-x-pos="0"][data-y-pos="0"] #leaderboard {
  right: 1rem;
  top: 44%;
}
.screen_nav:hover {
  opacity: 1;
}
span {
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
  opacity: 0.65;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}
span:after {
  width: 100%;
  content: "";
  position: absolute;
  left: -1px;
  right: 0;
  border-bottom: 0.3vmin solid transparent;
  bottom: 0;
  transition: border-color 0.5ms cubic-bezier(0.55, 0, 0.1, 1);
}
span.active,
span:hover {
  opacity: 1.5;
}
span.active:after,
span:hover:after {
  border-color: white;
}
span.zoom {
  position: absolute;
  top: 30%;
  left: 50%;
}
span.zoom:before {
  content: "\2630";
  font-size: 150%;
  color: white;
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateX(-50%) translateY(-50%);
}
/* toggle button for day/night mode start  */
#toggle_checkbox {
  display: none;
}

#checkbox {
  position: absolute;
  top: 61%;
  right: 0;
  left: 0;
  display: block;
  width: 140px;
  height: 70px;
  margin: 0 auto;
  transform: translateY(-50%);
  cursor: pointer;
}

#checkbox:before {
  top: 8px;
  left: 8px;
  width: 54px;
  height: 54px;
  border: 3px solid red;
}

#checkbox:after {
  top: 0;
  right: 0;
  width: 140px;
  height: 70px;
  border: 3px solid rgba(129, 243, 253, 1);
}

#checkbox:before,
#checkbox:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
    0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + #checkbox:before {
  top: 0;
  left: 0;
  width: 140px;
  height: 70px;
  border-color: rgba(129, 243, 253, 1);
}

#toggle_checkbox:checked + #checkbox:after {
  top: 8px;
  right: 8px;
  width: 54px;
  height: 54px;
  border-color: red;
}
/* toggle button for day/night mode end */
/* login & signup start*/
.user {
  position: absolute;
  font-size: 25px;
  top: 78%;
  right: 0;
  left: 0;
  text-align: center;
}
.login-icon,
.signup-icon,
.signout-icon,
element {
  color: #fff;
  opacity: 0.65;
}

/* Login box */
.exit-icon {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
}
.exit-icon:hover {
  opacity: 1;
}
input {
  font-family: sans-serif;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 60px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: none;
}
.user-login:hover ~ .login-icon {
  transform: translateX(0.25rem);
  opacity: 1;
}
.login-icon {
  opacity: 0.6;
  padding-left: 9px;
  font-size: 1.3rem;
  transition: 0.4s;
}
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* login box */
/* signup box */
.exit-icon-signup {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
  z-index: 5;
}
.exit-icon-signup:hover {
  opacity: 1;
}
.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 60px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: none;
  z-index: 99;
}
.exit-icon-signup {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0.5;
}
.exit-icon-signup:hover {
  opacity: 1;
}
.user-signup:hover ~ .signup-icon {
  transform: translateY(-0.3rem);
  opacity: 1;
}
.signup-icon {
  opacity: 0.6;
  padding-left: 5px;
  font-size: 1.3rem;
  transition: 0.4s;
}
.signup-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.signup-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
}

.signup-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.signup-box a span {
  position: absolute;
  display: block;
}

.signup-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.signup-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.signup-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.signup-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.welcome-message,
.points-message {
  opacity: 100;
  cursor: default;
}
.afterCheckIn #signout:hover ~ .signout-icon {
  transform: translateX(0.3rem);
  opacity: 1;
}
.signout-icon {
  opacity: 0.6;
  padding-left: 5px;
  font-size: 1.3rem;
  transition: 0.4s;
}
#signout::after,
.welcome-message::after,
.points-message::after,
.points::after,
.signout::after,
.user-login::after,
.user-signup::after,
.checkedname::after {
  display: none;
}
.checkedname,
.points {
  font-size: 1em;
  cursor: default;
  opacity: 10;
  color: rgba(129, 243, 253, 1);
}
/* signup box */
/* login & signup end*/

/* Leaderboard table starts */
table {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  width: 70%;
  max-width: 800px;
  height: 200px;
  border: 1px solid #000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.screen .leaderboard {
  position: absolute;
  top: 36%;
}
tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: #fff;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#header_leaderboard {
  background-color: rgba(129, 243, 253, 1);
  color: #fff;
}
tr:hover {
  background-color: #f5f5f5;
  color: #000;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180%;
}
.msg #msg-text {
  text-transform: uppercase;
  color: rgba(129, 243, 253, 1);
  text-shadow: 0rem 0.1rem 1rem rgba(129, 243, 253, 0.75);
}
#msg-text::after {
  display: none;
}
#msg-text .arrow-rotate-icon {
  font-size: 15px;
  padding-left: 3px;
}
/* Leaderboard table ends */

/* Credit page text animation starts */
#credit-text {
  animation: shake 2.5s linear forwards infinite;
  font-size: 50px;
}
@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}
/* Credit page text animation ends */

/* Media Quries start */
@media (max-width: 867px) {
  .screen h2,
  .light-theme .screen h2 {
    font-size: 3.5em;
  }
  .light-theme .screen .title {
    font-size: 25px;
  }
  #msg-text {
    font-size: 16px;
  }
  #msg-text .arrow-rotate-icon {
    font-size: 13px;
  }
}
@media (max-width: 646px) {
  .login-box {
    width: 400px;
    padding: 50px;
  }
  .signup-box {
    width: 400px;
    padding: 40px;
  }
  .light-theme .screen .title {
    font-size: 15px;
  }
  #msg-text {
    font-size: 14px;
    word-wrap: break-word;
    width: 340px;
    text-align: center;
    display: block;
  }
  #msg-text .arrow-rotate-icon {
    font-size: 11px;
  }
}
@media (max-width: 512px) {
  .screen h2,
  .light-theme .screen h2 {
    font-size: 3em;
  }
  span {
    font-size: 1em;
  }
  .login-icon,
  .signup-icon {
    font-size: 0.75em;
  }
  .login-box {
    width: 300px;
    padding: 40px;
  }
  .signup-box {
    width: 300px;
    padding: 30px;
  }
  element {
    font-size: 0.95em;
  }
  .login-box h1 {
    font-size: 1.4em;
    margin: 0 0 30px;
  }
  .signup-box h1 {
    font-size: 1.4em;
    margin: 0 0 15px;
  }
  .signup-box form a,
  .signup-box .user-box label,
  .signup-box .user-box input,
  .login-box form a,
  .login-box .user-box input,
  .login-box .user-box label {
    font-size: 12px;
  }
  .signup-box .user-box input {
    margin-bottom: 20px;
  }
  .exit-icon {
    top: 2rem;
  }
  .login-box form a {
    margin-top: 10px;
  }
  .screen_nav-up,
  .screen_nav-left,
  .screen_nav-left-top,
  .screen_nav-left-down,
  .screen_nav-right,
  .screen_nav-right-top,
  .screen_nav-right-down,
  .screen_nav-down {
    display: none;
  }
  #credit-text {
    font-size: 40px;
  }

  #checkbox {
    width: 100px;
    height: 30px;
  }

  #checkbox:before {
    width: 33px;
    height: 33px;
  }

  #checkbox:after {
    width: 100px;
    height: 50px;
  }

  #toggle_checkbox:checked + #checkbox:before {
    width: 100px;
    height: 50px;
  }

  #toggle_checkbox:checked + #checkbox:after {
    width: 33px;
    height: 33px;
  }
  ul li a {
    width: 50px;
    height: 50px;
    line-height: 51px;
    font-size: 24px;
    margin: 0 7px;
  }
  #msg-text {
    font-size: 14px;
    word-wrap: break-word;
    width: 300px;
    text-align: center;
    display: block;
  }
  #msg-text .arrow-rotate-icon {
    font-size: 11px;
  }
}
@media (max-width: 448px) {
  .screen h2,
  .light-theme .screen h2 {
    font-size: 2.5em;
  }
  span {
    font-size: 0.8em;
  }
  .login-icon,
  .signup-icon {
    font-size: 0.6em;
  }
  .login-box {
    width: 250px;
    padding: 30px;
  }
  .signup-box {
    width: 250px;
    padding: 20px;
  }
  element {
    font-size: 0.8em;
  }
  #credit-text {
    font-size: 30px;
  }
  ul li a {
    width: 45px;
    height: 45px;
    line-height: 46px;
    font-size: 24px;
    margin: 0 7px;
  }
}
