.screen #shop {
  position: absolute;
  top: 36%;
}
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "VT323";
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  top: 40vh;
  height: 350px;
  width: 90%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 1;
}

.screen .title {
  position: absolute;
  top: 20%;
  font-size: 25px;
}

.buy-btn {
  cursor: pointer;
  margin-top: 6rem;
  padding: 0.7rem 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: 1px solid rgba(129, 243, 253, 1);
  box-shadow: 0 0 5px rgba(129, 243, 253, 1), 0 0 5px rgb(27, 122, 133) inset;
}
.buy-btn:hover {
  background-color: rgba(129, 243, 253, 1);
  box-shadow: 0rem 0.1rem 1rem rgba(129, 243, 253, 0.75);
  transition: ease 0.6s;
}

/* Media Queries starts */
@media (min-width: 850px) {
  .page-content {
    grid-gap: 1rem;
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .page-content {
    grid-gap: 1rem;
    max-width: 700px;
  }
}
@media (max-width: 765px) {
  .page-content {
    grid-gap: 1rem;
    max-width: 600px;
  }
  .screen .title {
    font-size: 20px;
  }
}
@media (max-width: 641px) {
  .page-content {
    grid-gap: 1rem;
    max-width: 479px;
  }
  .buy-btn {
    margin-top: 6rem;
    padding: 0.4rem 1.7rem;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
  }
  .screen .title {
    font-size: 15px;
  }
}
@media (max-width: 448px) {
  .screen #shop {
    top: 31%;
  }
  .page-content {
    grid-template-columns: none;
    grid-template-columns: none;
  }
  .card {
    left: 5%;
    top: 34vh;
    height: 100px;
  }
  .buy-btn {
    margin-top: 1rem;
    position: relative;
    top: 1rem;
  }
}
@media (max-width: 365px) {
  .screen .title {
    font-size: 12px;
  }
  .buy-btn {
    margin-top: 1rem;
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
  }
}
/* Media Queries ends */
