.light-theme #dots1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1771px 834px #000, 12px 1695px #000, 848px 565px #000,
    821px 585px #000, 450px 1864px #000, 1412px 64px #000, 1780px 1136px #000,
    300px 1386px #000, 261px 717px #000, 579px 1680px #000, 266px 77px #000,
    1289px 1488px #000, 207px 717px #000, 1590px 706px #000, 748px 1261px #000,
    395px 133px #000, 780px 1573px #000, 489px 1766px #000, 659px 662px #000,
    1000px 1514px #000, 1430px 1589px #000, 761px 1869px #000, 1960px 835px #000,
    1195px 1494px #000, 271px 74px #000, 1008px 1898px #000, 527px 585px #000,
    1248px 1204px #000, 310px 1059px #000, 1708px 1816px #000, 107px 1123px #000,
    596px 1639px #000, 670px 1644px #000, 1909px 891px #000, 428px 1519px #000,
    696px 1198px #000, 1430px 1989px #000, 1730px 1441px #000, 948px 1484px #000,
    506px 757px #000, 2px 26px #000, 445px 706px #000, 1753px 596px #000,
    70px 637px #000, 747px 34px #000, 788px 510px #000, 566px 1136px #000,
    1566px 774px #000, 10px 1248px #000, 1357px 163px #000, 1753px 1004px #000,
    702px 121px #000, 1920px 1396px #000, 1375px 1211px #000, 57px 355px #000,
    584px 609px #000, 594px 845px #000, 1694px 1187px #000, 557px 1264px #000,
    1017px 1832px #000, 1473px 448px #000, 362px 580px #000, 1266px 431px #000,
    1149px 1599px #000, 1156px 614px #000, 720px 1451px #000, 624px 294px #000,
    564px 1710px #000, 274px 134px #000, 1159px 420px #000, 1990px 1822px #000,
    836px 1349px #000, 1071px 1871px #000, 486px 1235px #000, 1199px 1787px #000,
    699px 44px #000, 1130px 357px #000, 1976px 306px #000, 460px 1479px #000,
    408px 384px #000, 978px 827px #000, 1402px 1453px #000, 310px 1256px #000,
    100px 1809px #000, 725px 1736px #000, 1134px 461px #000, 1117px 388px #000,
    1366px 1906px #000, 1827px 620px #000, 503px 128px #000, 1299px 673px #000,
    260px 875px #000, 1785px 1880px #000, 174px 802px #000, 189px 480px #000,
    1508px 1874px #000, 1420px 1854px #000, 908px 1435px #000, 107px 1835px #000,
    1865px 658px #000, 8px 1884px #000, 1996px 1191px #000, 1069px 1656px #000,
    273px 115px #000, 1868px 1155px #000, 1449px 362px #000, 345px 692px #000,
    715px 635px #000, 1200px 1481px #000, 1470px 778px #000, 599px 1820px #000,
    1258px 228px #000, 757px 110px #000, 392px 1502px #000, 759px 1371px #000,
    292px 1346px #000, 1660px 335px #000, 619px 1728px #000, 1239px 1775px #000,
    684px 582px #000, 1089px 517px #000, 906px 392px #000, 877px 1207px #000,
    272px 1122px #000, 454px 356px #000, 133px 68px #000, 366px 18px #000,
    1987px 902px #000, 980px 460px #000, 931px 878px #000, 1084px 1150px #000,
    292px 736px #000, 790px 1237px #000, 1870px 1190px #000, 287px 695px #000,
    1965px 1084px #000, 674px 284px #000, 689px 121px #000, 618px 547px #000,
    676px 1284px #000, 843px 1781px #000, 1382px 1451px #000, 1038px 384px #000,
    146px 1159px #000, 1445px 429px #000, 1333px 1625px #000, 524px 951px #000,
    1833px 232px #000, 1498px 1800px #000, 302px 388px #000, 1633px 101px #000,
    147px 1150px #000, 1263px 559px #000, 456px 375px #000, 904px 1570px #000,
    765px 343px #000, 351px 128px #000, 371px 1634px #000, 394px 870px #000,
    684px 753px #000, 1588px 1955px #000, 1838px 788px #000, 1685px 652px #000,
    537px 1744px #000, 1260px 1628px #000, 1551px 1603px #000,
    1386px 1067px #000, 1643px 1173px #000, 396px 1265px #000,
    1215px 1749px #000, 1914px 1887px #000, 1794px 1138px #000,
    1147px 1919px #000, 567px 1028px #000, 1276px 927px #000, 331px 1531px #000,
    1691px 715px #000, 188px 317px #000, 1151px 1762px #000, 1334px 1536px #000,
    847px 1787px #000, 659px 1520px #000, 1410px 1580px #000, 902px 727px #000,
    810px 87px #000, 503px 1140px #000, 1122px 253px #000, 1269px 1663px #000,
    155px 545px #000, 1419px 233px #000, 870px 379px #000, 1968px 1197px #000,
    1688px 978px #000, 1077px 783px #000, 933px 1965px #000, 415px 784px #000,
    418px 812px #000, 67px 210px #000, 1717px 1730px #000, 900px 257px #000,
    235px 1123px #000, 1414px 1199px #000, 111px 1507px #000, 1417px 746px #000,
    311px 1313px #000, 1116px 1740px #000, 1017px 1924px #000, 311px 959px #000,
    150px 1254px #000, 337px 1786px #000, 1189px 1057px #000, 786px 1535px #000,
    1936px 1610px #000, 1101px 1942px #000, 1175px 719px #000, 275px 776px #000,
    529px 753px #000, 744px 1372px #000, 53px 1641px #000, 1701px 454px #000,
    1060px 893px #000, 511px 922px #000, 1893px 1002px #000, 608px 175px #000,
    329px 1702px #000, 1365px 1124px #000, 217px 487px #000, 1243px 962px #000,
    986px 415px #000, 75px 1912px #000, 1931px 1153px #000, 883px 47px #000,
    1280px 1382px #000, 668px 538px #000, 1301px 1499px #000, 845px 1437px #000,
    670px 1510px #000, 122px 1903px #000, 993px 504px #000, 483px 1570px #000,
    658px 265px #000, 1645px 719px #000, 1195px 1453px #000, 1560px 387px #000,
    1074px 1059px #000, 1760px 1388px #000, 914px 1078px #000,
    1061px 1292px #000, 1980px 1435px #000, 591px 1437px #000, 160px 17px #000,
    1212px 1191px #000, 676px 1942px #000, 1388px 592px #000, 1835px 1266px #000,
    1072px 810px #000, 1145px 394px #000, 1114px 43px #000, 1055px 117px #000,
    1139px 251px #000, 264px 175px #000, 1876px 1398px #000, 568px 532px #000,
    761px 751px #000, 787px 1752px #000, 1828px 1481px #000, 118px 1552px #000,
    646px 161px #000, 627px 1882px #000, 1505px 749px #000, 447px 1833px #000,
    1929px 461px #000, 1818px 376px #000, 635px 977px #000, 1585px 1089px #000,
    115px 1062px #000, 1113px 350px #000, 1826px 484px #000, 1827px 1779px #000,
    22px 1929px #000, 492px 374px #000, 1743px 234px #000, 345px 1670px #000,
    507px 1689px #000, 1704px 381px #000, 849px 500px #000, 1745px 646px #000,
    1985px 1902px #000, 1536px 135px #000, 690px 1594px #000, 144px 959px #000,
    1004px 1129px #000, 185px 1533px #000, 1512px 103px #000, 1399px 864px #000,
    713px 1241px #000, 729px 469px #000, 208px 1804px #000, 353px 668px #000,
    1855px 1223px #000, 881px 1662px #000, 1794px 1886px #000, 1179px 842px #000,
    504px 210px #000, 897px 1246px #000, 279px 472px #000, 76px 1778px #000,
    1243px 851px #000, 368px 1212px #000, 51px 1804px #000, 1588px 1841px #000,
    480px 1870px #000, 490px 124px #000, 738px 1424px #000, 1980px 1160px #000,
    725px 1866px #000, 1599px 545px #000, 584px 646px #000, 1937px 1144px #000,
    815px 1173px #000, 1065px 917px #000, 314px 1210px #000, 1060px 1094px #000,
    247px 682px #000, 1853px 606px #000, 1769px 296px #000, 1198px 477px #000,
    192px 1279px #000, 332px 59px #000, 309px 874px #000, 262px 824px #000,
    389px 329px #000, 1237px 277px #000, 725px 1161px #000, 176px 1662px #000,
    1241px 1422px #000, 1144px 1877px #000, 1647px 944px #000, 1728px 330px #000,
    1172px 39px #000, 898px 170px #000, 1948px 1970px #000, 809px 305px #000,
    621px 237px #000, 1092px 1274px #000, 1574px 593px #000, 279px 1339px #000,
    479px 422px #000, 1491px 1506px #000, 780px 79px #000, 1811px 1147px #000,
    1616px 415px #000, 520px 1756px #000, 1633px 1426px #000, 1142px 1816px #000,
    80px 1581px #000, 222px 636px #000, 1726px 1931px #000, 1175px 1423px #000,
    1413px 1328px #000, 976px 711px #000, 505px 1418px #000, 577px 89px #000,
    1828px 129px #000, 319px 342px #000, 1473px 1126px #000, 1652px 1108px #000,
    947px 1565px #000, 1860px 343px #000, 760px 875px #000, 480px 341px #000,
    643px 989px #000, 684px 1932px #000, 1144px 573px #000, 1889px 1045px #000,
    1964px 1655px #000, 1241px 308px #000, 73px 1873px #000, 509px 317px #000,
    1126px 1265px #000, 693px 1312px #000, 630px 105px #000, 230px 1320px #000,
    1333px 326px #000, 772px 1406px #000, 349px 1880px #000, 1959px 1002px #000,
    1769px 373px #000, 1553px 1905px #000, 252px 525px #000, 977px 616px #000,
    930px 619px #000, 687px 961px #000, 1901px 1066px #000, 1363px 1886px #000,
    897px 370px #000, 395px 1823px #000, 640px 1745px #000, 1587px 682px #000,
    1976px 49px #000, 271px 1680px #000, 670px 585px #000, 1242px 434px #000,
    1710px 1646px #000, 1694px 1361px #000, 620px 951px #000, 1669px 1298px #000,
    960px 1371px #000, 723px 793px #000, 1304px 1903px #000, 538px 947px #000,
    1121px 1534px #000, 1033px 1618px #000, 945px 67px #000, 1129px 245px #000,
    1776px 290px #000, 1617px 707px #000, 406px 1495px #000, 1105px 803px #000,
    1194px 1503px #000, 1380px 1692px #000, 1671px 152px #000, 1358px 84px #000,
    636px 1784px #000, 1788px 257px #000, 275px 1478px #000, 964px 688px #000,
    817px 387px #000, 442px 1593px #000, 969px 689px #000, 1485px 514px #000,
    53px 297px #000, 22px 1889px #000, 874px 648px #000, 1840px 676px #000,
    14px 234px #000, 1178px 1063px #000, 1751px 1058px #000, 1601px 414px #000,
    1558px 1976px #000, 1705px 737px #000, 952px 1547px #000, 1156px 1980px #000,
    418px 1106px #000, 1944px 1596px #000, 822px 39px #000, 1393px 1444px #000,
    1452px 1235px #000, 1477px 8px #000, 1756px 1808px #000, 1672px 701px #000,
    17px 1091px #000, 1129px 849px #000, 118px 1728px #000, 607px 1503px #000,
    104px 910px #000, 1835px 1564px #000, 1167px 722px #000, 1137px 1746px #000,
    353px 1750px #000, 786px 18px #000, 1263px 1303px #000, 1774px 1728px #000,
    631px 1681px #000, 1043px 1824px #000, 771px 789px #000, 1107px 1413px #000,
    122px 1708px #000, 389px 858px #000, 1624px 1262px #000, 1957px 258px #000,
    1399px 161px #000, 344px 1109px #000, 1286px 1963px #000, 1753px 1383px #000,
    1557px 1762px #000, 1452px 378px #000, 216px 803px #000, 1935px 375px #000,
    1641px 1207px #000, 1138px 1110px #000, 909px 1126px #000, 1077px 490px #000,
    1712px 206px #000, 1741px 46px #000, 616px 1513px #000, 471px 543px #000,
    1461px 1028px #000, 1654px 1535px #000, 620px 163px #000, 129px 217px #000,
    47px 1539px #000, 892px 1695px #000, 1035px 572px #000, 743px 919px #000,
    1815px 166px #000, 1779px 1341px #000, 1243px 1790px #000, 407px 1376px #000,
    1645px 670px #000, 1499px 85px #000, 1695px 1541px #000, 1753px 1750px #000,
    68px 98px #000, 123px 1715px #000, 1578px 1431px #000, 1508px 1199px #000,
    1733px 542px #000, 1871px 1806px #000, 1154px 237px #000, 689px 1480px #000,
    24px 1037px #000, 1896px 1461px #000, 1331px 819px #000, 324px 339px #000,
    142px 1276px #000, 1354px 248px #000, 1861px 173px #000, 1824px 1640px #000,
    1180px 1264px #000, 1632px 1348px #000, 173px 668px #000, 1119px 446px #000,
    326px 615px #000, 986px 1170px #000, 376px 275px #000, 1328px 399px #000,
    735px 591px #000, 1769px 696px #000, 1397px 1446px #000, 805px 173px #000,
    317px 1317px #000, 1645px 1643px #000, 908px 1462px #000, 667px 1705px #000,
    1861px 1414px #000, 1172px 1899px #000, 1938px 1252px #000,
    490px 1509px #000, 1153px 656px #000, 628px 1333px #000, 775px 1008px #000,
    451px 1122px #000, 1438px 1420px #000, 1169px 193px #000, 663px 187px #000,
    1489px 74px #000, 860px 193px #000, 1511px 1471px #000, 574px 1542px #000,
    53px 794px #000, 102px 752px #000, 179px 1659px #000, 860px 1617px #000,
    1853px 1899px #000, 1000px 1446px #000, 1695px 1159px #000,
    1377px 390px #000, 669px 1165px #000, 730px 1375px #000, 758px 790px #000,
    164px 1140px #000, 1906px 730px #000, 1570px 1612px #000, 1297px 443px #000,
    296px 306px #000, 1872px 214px #000, 331px 463px #000, 1673px 324px #000,
    1660px 16px #000, 590px 800px #000, 1970px 378px #000, 817px 1700px #000,
    934px 1320px #000, 429px 157px #000, 1499px 599px #000, 189px 1947px #000,
    599px 806px #000, 1264px 1196px #000, 1089px 1323px #000, 1032px 962px #000,
    1296px 1513px #000, 375px 743px #000, 892px 1816px #000, 768px 763px #000,
    767px 459px #000, 735px 88px #000, 400px 1502px #000, 336px 495px #000,
    812px 488px #000, 1300px 810px #000, 820px 443px #000, 228px 1880px #000,
    654px 1593px #000, 17px 1451px #000, 886px 1156px #000, 318px 616px #000,
    835px 1276px #000, 1825px 285px #000, 1217px 1966px #000, 882px 345px #000,
    1527px 1401px #000, 1437px 1056px #000, 1026px 86px #000, 1650px 1898px #000,
    571px 1180px #000, 262px 1000px #000, 1115px 230px #000, 1038px 662px #000,
    1917px 465px #000, 1570px 1256px #000, 1230px 232px #000, 188px 1080px #000,
    149px 1581px #000, 970px 635px #000, 708px 1811px #000, 1075px 1088px #000,
    378px 1228px #000, 533px 1692px #000, 560px 1156px #000, 7px 594px #000,
    1753px 25px #000, 1115px 1566px #000, 506px 1376px #000, 1799px 1735px #000,
    900px 554px #000, 892px 1320px #000, 70px 58px #000, 289px 550px #000,
    37px 1642px #000, 967px 21px #000, 1561px 127px #000, 148px 1451px #000,
    817px 708px #000, 1587px 1396px #000, 148px 358px #000, 411px 940px #000,
    1040px 1225px #000, 1231px 295px #000, 602px 1140px #000, 1915px 578px #000,
    1001px 946px #000, 1076px 1753px #000, 255px 442px #000, 99px 1733px #000,
    1260px 913px #000, 392px 1955px #000, 869px 1044px #000, 252px 1959px #000,
    511px 1140px #000, 467px 1261px #000, 350px 1937px #000, 635px 641px #000,
    763px 877px #000, 1527px 1850px #000, 862px 1532px #000, 930px 1084px #000,
    1584px 537px #000, 1017px 1236px #000, 1875px 1513px #000, 735px 1312px #000,
    1827px 1196px #000, 322px 717px #000, 1775px 1013px #000, 1152px 1016px #000,
    1800px 1685px #000, 388px 183px #000, 685px 1230px #000, 1611px 1379px #000,
    1472px 1645px #000, 1860px 1826px #000, 1306px 1538px #000, 1895px 56px #000,
    533px 546px #000, 753px 402px #000, 916px 507px #000, 1049px 1990px #000,
    1358px 762px #000, 267px 1346px #000, 11px 264px #000, 589px 888px #000,
    1363px 98px #000, 1412px 587px #000, 662px 1679px #000, 400px 858px #000,
    1692px 1418px #000, 389px 433px #000, 1435px 969px #000, 1414px 611px #000,
    674px 1056px #000, 1626px 631px #000, 699px 934px #000, 1282px 455px #000,
    1533px 1692px #000, 1015px 578px #000, 1703px 1537px #000,
    1747px 1521px #000, 1312px 1842px #000, 962px 764px #000, 1337px 446px #000;
  animation: animStar 50s linear infinite;
}
.light-theme #dots1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1771px 834px #000, 12px 1695px #000, 848px 565px #000,
    821px 585px #000, 450px 1864px #000, 1412px 64px #000, 1780px 1136px #000,
    300px 1386px #000, 261px 717px #000, 579px 1680px #000, 266px 77px #000,
    1289px 1488px #000, 207px 717px #000, 1590px 706px #000, 748px 1261px #000,
    395px 133px #000, 780px 1573px #000, 489px 1766px #000, 659px 662px #000,
    1000px 1514px #000, 1430px 1589px #000, 761px 1869px #000, 1960px 835px #000,
    1195px 1494px #000, 271px 74px #000, 1008px 1898px #000, 527px 585px #000,
    1248px 1204px #000, 310px 1059px #000, 1708px 1816px #000, 107px 1123px #000,
    596px 1639px #000, 670px 1644px #000, 1909px 891px #000, 428px 1519px #000,
    696px 1198px #000, 1430px 1989px #000, 1730px 1441px #000, 948px 1484px #000,
    506px 757px #000, 2px 26px #000, 445px 706px #000, 1753px 596px #000,
    70px 637px #000, 747px 34px #000, 788px 510px #000, 566px 1136px #000,
    1566px 774px #000, 10px 1248px #000, 1357px 163px #000, 1753px 1004px #000,
    702px 121px #000, 1920px 1396px #000, 1375px 1211px #000, 57px 355px #000,
    584px 609px #000, 594px 845px #000, 1694px 1187px #000, 557px 1264px #000,
    1017px 1832px #000, 1473px 448px #000, 362px 580px #000, 1266px 431px #000,
    1149px 1599px #000, 1156px 614px #000, 720px 1451px #000, 624px 294px #000,
    564px 1710px #000, 274px 134px #000, 1159px 420px #000, 1990px 1822px #000,
    836px 1349px #000, 1071px 1871px #000, 486px 1235px #000, 1199px 1787px #000,
    699px 44px #000, 1130px 357px #000, 1976px 306px #000, 460px 1479px #000,
    408px 384px #000, 978px 827px #000, 1402px 1453px #000, 310px 1256px #000,
    100px 1809px #000, 725px 1736px #000, 1134px 461px #000, 1117px 388px #000,
    1366px 1906px #000, 1827px 620px #000, 503px 128px #000, 1299px 673px #000,
    260px 875px #000, 1785px 1880px #000, 174px 802px #000, 189px 480px #000,
    1508px 1874px #000, 1420px 1854px #000, 908px 1435px #000, 107px 1835px #000,
    1865px 658px #000, 8px 1884px #000, 1996px 1191px #000, 1069px 1656px #000,
    273px 115px #000, 1868px 1155px #000, 1449px 362px #000, 345px 692px #000,
    715px 635px #000, 1200px 1481px #000, 1470px 778px #000, 599px 1820px #000,
    1258px 228px #000, 757px 110px #000, 392px 1502px #000, 759px 1371px #000,
    292px 1346px #000, 1660px 335px #000, 619px 1728px #000, 1239px 1775px #000,
    684px 582px #000, 1089px 517px #000, 906px 392px #000, 877px 1207px #000,
    272px 1122px #000, 454px 356px #000, 133px 68px #000, 366px 18px #000,
    1987px 902px #000, 980px 460px #000, 931px 878px #000, 1084px 1150px #000,
    292px 736px #000, 790px 1237px #000, 1870px 1190px #000, 287px 695px #000,
    1965px 1084px #000, 674px 284px #000, 689px 121px #000, 618px 547px #000,
    676px 1284px #000, 843px 1781px #000, 1382px 1451px #000, 1038px 384px #000,
    146px 1159px #000, 1445px 429px #000, 1333px 1625px #000, 524px 951px #000,
    1833px 232px #000, 1498px 1800px #000, 302px 388px #000, 1633px 101px #000,
    147px 1150px #000, 1263px 559px #000, 456px 375px #000, 904px 1570px #000,
    765px 343px #000, 351px 128px #000, 371px 1634px #000, 394px 870px #000,
    684px 753px #000, 1588px 1955px #000, 1838px 788px #000, 1685px 652px #000,
    537px 1744px #000, 1260px 1628px #000, 1551px 1603px #000,
    1386px 1067px #000, 1643px 1173px #000, 396px 1265px #000,
    1215px 1749px #000, 1914px 1887px #000, 1794px 1138px #000,
    1147px 1919px #000, 567px 1028px #000, 1276px 927px #000, 331px 1531px #000,
    1691px 715px #000, 188px 317px #000, 1151px 1762px #000, 1334px 1536px #000,
    847px 1787px #000, 659px 1520px #000, 1410px 1580px #000, 902px 727px #000,
    810px 87px #000, 503px 1140px #000, 1122px 253px #000, 1269px 1663px #000,
    155px 545px #000, 1419px 233px #000, 870px 379px #000, 1968px 1197px #000,
    1688px 978px #000, 1077px 783px #000, 933px 1965px #000, 415px 784px #000,
    418px 812px #000, 67px 210px #000, 1717px 1730px #000, 900px 257px #000,
    235px 1123px #000, 1414px 1199px #000, 111px 1507px #000, 1417px 746px #000,
    311px 1313px #000, 1116px 1740px #000, 1017px 1924px #000, 311px 959px #000,
    150px 1254px #000, 337px 1786px #000, 1189px 1057px #000, 786px 1535px #000,
    1936px 1610px #000, 1101px 1942px #000, 1175px 719px #000, 275px 776px #000,
    529px 753px #000, 744px 1372px #000, 53px 1641px #000, 1701px 454px #000,
    1060px 893px #000, 511px 922px #000, 1893px 1002px #000, 608px 175px #000,
    329px 1702px #000, 1365px 1124px #000, 217px 487px #000, 1243px 962px #000,
    986px 415px #000, 75px 1912px #000, 1931px 1153px #000, 883px 47px #000,
    1280px 1382px #000, 668px 538px #000, 1301px 1499px #000, 845px 1437px #000,
    670px 1510px #000, 122px 1903px #000, 993px 504px #000, 483px 1570px #000,
    658px 265px #000, 1645px 719px #000, 1195px 1453px #000, 1560px 387px #000,
    1074px 1059px #000, 1760px 1388px #000, 914px 1078px #000,
    1061px 1292px #000, 1980px 1435px #000, 591px 1437px #000, 160px 17px #000,
    1212px 1191px #000, 676px 1942px #000, 1388px 592px #000, 1835px 1266px #000,
    1072px 810px #000, 1145px 394px #000, 1114px 43px #000, 1055px 117px #000,
    1139px 251px #000, 264px 175px #000, 1876px 1398px #000, 568px 532px #000,
    761px 751px #000, 787px 1752px #000, 1828px 1481px #000, 118px 1552px #000,
    646px 161px #000, 627px 1882px #000, 1505px 749px #000, 447px 1833px #000,
    1929px 461px #000, 1818px 376px #000, 635px 977px #000, 1585px 1089px #000,
    115px 1062px #000, 1113px 350px #000, 1826px 484px #000, 1827px 1779px #000,
    22px 1929px #000, 492px 374px #000, 1743px 234px #000, 345px 1670px #000,
    507px 1689px #000, 1704px 381px #000, 849px 500px #000, 1745px 646px #000,
    1985px 1902px #000, 1536px 135px #000, 690px 1594px #000, 144px 959px #000,
    1004px 1129px #000, 185px 1533px #000, 1512px 103px #000, 1399px 864px #000,
    713px 1241px #000, 729px 469px #000, 208px 1804px #000, 353px 668px #000,
    1855px 1223px #000, 881px 1662px #000, 1794px 1886px #000, 1179px 842px #000,
    504px 210px #000, 897px 1246px #000, 279px 472px #000, 76px 1778px #000,
    1243px 851px #000, 368px 1212px #000, 51px 1804px #000, 1588px 1841px #000,
    480px 1870px #000, 490px 124px #000, 738px 1424px #000, 1980px 1160px #000,
    725px 1866px #000, 1599px 545px #000, 584px 646px #000, 1937px 1144px #000,
    815px 1173px #000, 1065px 917px #000, 314px 1210px #000, 1060px 1094px #000,
    247px 682px #000, 1853px 606px #000, 1769px 296px #000, 1198px 477px #000,
    192px 1279px #000, 332px 59px #000, 309px 874px #000, 262px 824px #000,
    389px 329px #000, 1237px 277px #000, 725px 1161px #000, 176px 1662px #000,
    1241px 1422px #000, 1144px 1877px #000, 1647px 944px #000, 1728px 330px #000,
    1172px 39px #000, 898px 170px #000, 1948px 1970px #000, 809px 305px #000,
    621px 237px #000, 1092px 1274px #000, 1574px 593px #000, 279px 1339px #000,
    479px 422px #000, 1491px 1506px #000, 780px 79px #000, 1811px 1147px #000,
    1616px 415px #000, 520px 1756px #000, 1633px 1426px #000, 1142px 1816px #000,
    80px 1581px #000, 222px 636px #000, 1726px 1931px #000, 1175px 1423px #000,
    1413px 1328px #000, 976px 711px #000, 505px 1418px #000, 577px 89px #000,
    1828px 129px #000, 319px 342px #000, 1473px 1126px #000, 1652px 1108px #000,
    947px 1565px #000, 1860px 343px #000, 760px 875px #000, 480px 341px #000,
    643px 989px #000, 684px 1932px #000, 1144px 573px #000, 1889px 1045px #000,
    1964px 1655px #000, 1241px 308px #000, 73px 1873px #000, 509px 317px #000,
    1126px 1265px #000, 693px 1312px #000, 630px 105px #000, 230px 1320px #000,
    1333px 326px #000, 772px 1406px #000, 349px 1880px #000, 1959px 1002px #000,
    1769px 373px #000, 1553px 1905px #000, 252px 525px #000, 977px 616px #000,
    930px 619px #000, 687px 961px #000, 1901px 1066px #000, 1363px 1886px #000,
    897px 370px #000, 395px 1823px #000, 640px 1745px #000, 1587px 682px #000,
    1976px 49px #000, 271px 1680px #000, 670px 585px #000, 1242px 434px #000,
    1710px 1646px #000, 1694px 1361px #000, 620px 951px #000, 1669px 1298px #000,
    960px 1371px #000, 723px 793px #000, 1304px 1903px #000, 538px 947px #000,
    1121px 1534px #000, 1033px 1618px #000, 945px 67px #000, 1129px 245px #000,
    1776px 290px #000, 1617px 707px #000, 406px 1495px #000, 1105px 803px #000,
    1194px 1503px #000, 1380px 1692px #000, 1671px 152px #000, 1358px 84px #000,
    636px 1784px #000, 1788px 257px #000, 275px 1478px #000, 964px 688px #000,
    817px 387px #000, 442px 1593px #000, 969px 689px #000, 1485px 514px #000,
    53px 297px #000, 22px 1889px #000, 874px 648px #000, 1840px 676px #000,
    14px 234px #000, 1178px 1063px #000, 1751px 1058px #000, 1601px 414px #000,
    1558px 1976px #000, 1705px 737px #000, 952px 1547px #000, 1156px 1980px #000,
    418px 1106px #000, 1944px 1596px #000, 822px 39px #000, 1393px 1444px #000,
    1452px 1235px #000, 1477px 8px #000, 1756px 1808px #000, 1672px 701px #000,
    17px 1091px #000, 1129px 849px #000, 118px 1728px #000, 607px 1503px #000,
    104px 910px #000, 1835px 1564px #000, 1167px 722px #000, 1137px 1746px #000,
    353px 1750px #000, 786px 18px #000, 1263px 1303px #000, 1774px 1728px #000,
    631px 1681px #000, 1043px 1824px #000, 771px 789px #000, 1107px 1413px #000,
    122px 1708px #000, 389px 858px #000, 1624px 1262px #000, 1957px 258px #000,
    1399px 161px #000, 344px 1109px #000, 1286px 1963px #000, 1753px 1383px #000,
    1557px 1762px #000, 1452px 378px #000, 216px 803px #000, 1935px 375px #000,
    1641px 1207px #000, 1138px 1110px #000, 909px 1126px #000, 1077px 490px #000,
    1712px 206px #000, 1741px 46px #000, 616px 1513px #000, 471px 543px #000,
    1461px 1028px #000, 1654px 1535px #000, 620px 163px #000, 129px 217px #000,
    47px 1539px #000, 892px 1695px #000, 1035px 572px #000, 743px 919px #000,
    1815px 166px #000, 1779px 1341px #000, 1243px 1790px #000, 407px 1376px #000,
    1645px 670px #000, 1499px 85px #000, 1695px 1541px #000, 1753px 1750px #000,
    68px 98px #000, 123px 1715px #000, 1578px 1431px #000, 1508px 1199px #000,
    1733px 542px #000, 1871px 1806px #000, 1154px 237px #000, 689px 1480px #000,
    24px 1037px #000, 1896px 1461px #000, 1331px 819px #000, 324px 339px #000,
    142px 1276px #000, 1354px 248px #000, 1861px 173px #000, 1824px 1640px #000,
    1180px 1264px #000, 1632px 1348px #000, 173px 668px #000, 1119px 446px #000,
    326px 615px #000, 986px 1170px #000, 376px 275px #000, 1328px 399px #000,
    735px 591px #000, 1769px 696px #000, 1397px 1446px #000, 805px 173px #000,
    317px 1317px #000, 1645px 1643px #000, 908px 1462px #000, 667px 1705px #000,
    1861px 1414px #000, 1172px 1899px #000, 1938px 1252px #000,
    490px 1509px #000, 1153px 656px #000, 628px 1333px #000, 775px 1008px #000,
    451px 1122px #000, 1438px 1420px #000, 1169px 193px #000, 663px 187px #000,
    1489px 74px #000, 860px 193px #000, 1511px 1471px #000, 574px 1542px #000,
    53px 794px #000, 102px 752px #000, 179px 1659px #000, 860px 1617px #000,
    1853px 1899px #000, 1000px 1446px #000, 1695px 1159px #000,
    1377px 390px #000, 669px 1165px #000, 730px 1375px #000, 758px 790px #000,
    164px 1140px #000, 1906px 730px #000, 1570px 1612px #000, 1297px 443px #000,
    296px 306px #000, 1872px 214px #000, 331px 463px #000, 1673px 324px #000,
    1660px 16px #000, 590px 800px #000, 1970px 378px #000, 817px 1700px #000,
    934px 1320px #000, 429px 157px #000, 1499px 599px #000, 189px 1947px #000,
    599px 806px #000, 1264px 1196px #000, 1089px 1323px #000, 1032px 962px #000,
    1296px 1513px #000, 375px 743px #000, 892px 1816px #000, 768px 763px #000,
    767px 459px #000, 735px 88px #000, 400px 1502px #000, 336px 495px #000,
    812px 488px #000, 1300px 810px #000, 820px 443px #000, 228px 1880px #000,
    654px 1593px #000, 17px 1451px #000, 886px 1156px #000, 318px 616px #000,
    835px 1276px #000, 1825px 285px #000, 1217px 1966px #000, 882px 345px #000,
    1527px 1401px #000, 1437px 1056px #000, 1026px 86px #000, 1650px 1898px #000,
    571px 1180px #000, 262px 1000px #000, 1115px 230px #000, 1038px 662px #000,
    1917px 465px #000, 1570px 1256px #000, 1230px 232px #000, 188px 1080px #000,
    149px 1581px #000, 970px 635px #000, 708px 1811px #000, 1075px 1088px #000,
    378px 1228px #000, 533px 1692px #000, 560px 1156px #000, 7px 594px #000,
    1753px 25px #000, 1115px 1566px #000, 506px 1376px #000, 1799px 1735px #000,
    900px 554px #000, 892px 1320px #000, 70px 58px #000, 289px 550px #000,
    37px 1642px #000, 967px 21px #000, 1561px 127px #000, 148px 1451px #000,
    817px 708px #000, 1587px 1396px #000, 148px 358px #000, 411px 940px #000,
    1040px 1225px #000, 1231px 295px #000, 602px 1140px #000, 1915px 578px #000,
    1001px 946px #000, 1076px 1753px #000, 255px 442px #000, 99px 1733px #000,
    1260px 913px #000, 392px 1955px #000, 869px 1044px #000, 252px 1959px #000,
    511px 1140px #000, 467px 1261px #000, 350px 1937px #000, 635px 641px #000,
    763px 877px #000, 1527px 1850px #000, 862px 1532px #000, 930px 1084px #000,
    1584px 537px #000, 1017px 1236px #000, 1875px 1513px #000, 735px 1312px #000,
    1827px 1196px #000, 322px 717px #000, 1775px 1013px #000, 1152px 1016px #000,
    1800px 1685px #000, 388px 183px #000, 685px 1230px #000, 1611px 1379px #000,
    1472px 1645px #000, 1860px 1826px #000, 1306px 1538px #000, 1895px 56px #000,
    533px 546px #000, 753px 402px #000, 916px 507px #000, 1049px 1990px #000,
    1358px 762px #000, 267px 1346px #000, 11px 264px #000, 589px 888px #000,
    1363px 98px #000, 1412px 587px #000, 662px 1679px #000, 400px 858px #000,
    1692px 1418px #000, 389px 433px #000, 1435px 969px #000, 1414px 611px #000,
    674px 1056px #000, 1626px 631px #000, 699px 934px #000, 1282px 455px #000,
    1533px 1692px #000, 1015px 578px #000, 1703px 1537px #000,
    1747px 1521px #000, 1312px 1842px #000, 962px 764px #000, 1337px 446px #000;
}
.light-theme #dots2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 447px 1162px #000, 667px 1900px #000, 1310px 1714px #000,
    1674px 30px #000, 1501px 1299px #000, 231px 206px #000, 1941px 1554px #000,
    1669px 535px #000, 1171px 226px #000, 1861px 673px #000, 496px 1728px #000,
    1560px 1295px #000, 1003px 603px #000, 503px 930px #000, 358px 1357px #000,
    1812px 1817px #000, 1998px 1373px #000, 707px 794px #000, 891px 328px #000,
    728px 1834px #000, 1359px 471px #000, 934px 1845px #000, 1205px 586px #000,
    412px 337px #000, 30px 1830px #000, 1737px 1994px #000, 412px 781px #000,
    11px 441px #000, 549px 1393px #000, 285px 1387px #000, 160px 439px #000,
    1953px 1620px #000, 621px 818px #000, 1553px 261px #000, 692px 1559px #000,
    71px 226px #000, 261px 1784px #000, 771px 1594px #000, 1700px 853px #000,
    1701px 408px #000, 1491px 1265px #000, 1871px 802px #000, 502px 948px #000,
    691px 153px #000, 1270px 1715px #000, 544px 1774px #000, 914px 91px #000,
    1945px 1794px #000, 1877px 1214px #000, 1861px 1547px #000,
    1849px 1745px #000, 213px 1351px #000, 838px 1292px #000, 681px 408px #000,
    1204px 1647px #000, 1809px 1011px #000, 1031px 1584px #000,
    1068px 1142px #000, 1957px 1572px #000, 1840px 1233px #000,
    1807px 613px #000, 912px 655px #000, 153px 1978px #000, 661px 910px #000,
    1937px 187px #000, 931px 1013px #000, 1577px 1098px #000, 222px 770px #000,
    1025px 1591px #000, 1982px 376px #000, 1897px 729px #000, 1803px 1520px #000,
    1666px 1689px #000, 241px 1917px #000, 320px 1654px #000, 1593px 1801px #000,
    1416px 584px #000, 1045px 1836px #000, 1020px 599px #000, 1915px 906px #000,
    1819px 1058px #000, 1766px 368px #000, 862px 875px #000, 1097px 309px #000,
    1067px 247px #000, 385px 1867px #000, 1454px 1642px #000, 1968px 998px #000,
    1149px 752px #000, 594px 1830px #000, 348px 1570px #000, 600px 143px #000,
    1295px 1847px #000, 768px 1910px #000, 453px 1267px #000, 1873px 50px #000,
    1050px 1423px #000, 966px 98px #000, 1828px 1520px #000, 928px 1620px #000,
    1576px 1411px #000, 1272px 144px #000, 1887px 1180px #000, 1172px 323px #000,
    855px 718px #000, 420px 1401px #000, 531px 768px #000, 115px 1336px #000,
    1120px 750px #000, 1922px 366px #000, 782px 165px #000, 1904px 1339px #000,
    143px 1948px #000, 1690px 412px #000, 1949px 30px #000, 957px 529px #000,
    609px 751px #000, 1978px 154px #000, 612px 1504px #000, 1932px 818px #000,
    997px 1516px #000, 1648px 33px #000, 1772px 567px #000, 1719px 251px #000,
    43px 359px #000, 1594px 1030px #000, 88px 39px #000, 1755px 947px #000,
    1506px 280px #000, 1165px 626px #000, 1747px 1878px #000, 848px 121px #000,
    1565px 976px #000, 1401px 1495px #000, 1340px 545px #000, 105px 1097px #000,
    990px 1641px #000, 1073px 581px #000, 656px 160px #000, 479px 720px #000,
    1928px 1823px #000, 536px 33px #000, 1280px 1796px #000, 203px 560px #000,
    1152px 202px #000, 1040px 999px #000, 1221px 710px #000, 1572px 337px #000,
    776px 358px #000, 1817px 1108px #000, 1538px 1955px #000, 1329px 55px #000,
    1611px 1396px #000, 837px 1504px #000, 1564px 242px #000, 231px 1506px #000,
    283px 374px #000, 604px 988px #000, 759px 1371px #000, 1601px 133px #000,
    806px 301px #000, 827px 12px #000, 231px 1511px #000, 1999px 491px #000,
    1118px 890px #000, 616px 949px #000, 1553px 325px #000, 1040px 1147px #000,
    1697px 1788px #000, 419px 1517px #000, 1855px 1448px #000,
    1675px 1880px #000, 377px 943px #000, 1725px 43px #000, 468px 1384px #000,
    307px 1549px #000, 1407px 1616px #000, 772px 423px #000, 859px 1092px #000,
    972px 473px #000, 1729px 950px #000, 85px 787px #000, 921px 699px #000,
    1386px 879px #000, 1352px 902px #000, 347px 1180px #000, 1587px 984px #000,
    1747px 801px #000, 1200px 274px #000, 845px 985px #000, 788px 476px #000,
    19px 1496px #000, 871px 1115px #000, 1957px 8px #000, 1369px 1606px #000,
    240px 954px #000, 817px 1331px #000, 71px 1453px #000, 323px 1699px #000,
    816px 810px #000;
  animation: animStar 100s linear infinite;
}
.light-theme #dots2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 447px 1162px #000, 667px 1900px #000, 1310px 1714px #000,
    1674px 30px #000, 1501px 1299px #000, 231px 206px #000, 1941px 1554px #000,
    1669px 535px #000, 1171px 226px #000, 1861px 673px #000, 496px 1728px #000,
    1560px 1295px #000, 1003px 603px #000, 503px 930px #000, 358px 1357px #000,
    1812px 1817px #000, 1998px 1373px #000, 707px 794px #000, 891px 328px #000,
    728px 1834px #000, 1359px 471px #000, 934px 1845px #000, 1205px 586px #000,
    412px 337px #000, 30px 1830px #000, 1737px 1994px #000, 412px 781px #000,
    11px 441px #000, 549px 1393px #000, 285px 1387px #000, 160px 439px #000,
    1953px 1620px #000, 621px 818px #000, 1553px 261px #000, 692px 1559px #000,
    71px 226px #000, 261px 1784px #000, 771px 1594px #000, 1700px 853px #000,
    1701px 408px #000, 1491px 1265px #000, 1871px 802px #000, 502px 948px #000,
    691px 153px #000, 1270px 1715px #000, 544px 1774px #000, 914px 91px #000,
    1945px 1794px #000, 1877px 1214px #000, 1861px 1547px #000,
    1849px 1745px #000, 213px 1351px #000, 838px 1292px #000, 681px 408px #000,
    1204px 1647px #000, 1809px 1011px #000, 1031px 1584px #000,
    1068px 1142px #000, 1957px 1572px #000, 1840px 1233px #000,
    1807px 613px #000, 912px 655px #000, 153px 1978px #000, 661px 910px #000,
    1937px 187px #000, 931px 1013px #000, 1577px 1098px #000, 222px 770px #000,
    1025px 1591px #000, 1982px 376px #000, 1897px 729px #000, 1803px 1520px #000,
    1666px 1689px #000, 241px 1917px #000, 320px 1654px #000, 1593px 1801px #000,
    1416px 584px #000, 1045px 1836px #000, 1020px 599px #000, 1915px 906px #000,
    1819px 1058px #000, 1766px 368px #000, 862px 875px #000, 1097px 309px #000,
    1067px 247px #000, 385px 1867px #000, 1454px 1642px #000, 1968px 998px #000,
    1149px 752px #000, 594px 1830px #000, 348px 1570px #000, 600px 143px #000,
    1295px 1847px #000, 768px 1910px #000, 453px 1267px #000, 1873px 50px #000,
    1050px 1423px #000, 966px 98px #000, 1828px 1520px #000, 928px 1620px #000,
    1576px 1411px #000, 1272px 144px #000, 1887px 1180px #000, 1172px 323px #000,
    855px 718px #000, 420px 1401px #000, 531px 768px #000, 115px 1336px #000,
    1120px 750px #000, 1922px 366px #000, 782px 165px #000, 1904px 1339px #000,
    143px 1948px #000, 1690px 412px #000, 1949px 30px #000, 957px 529px #000,
    609px 751px #000, 1978px 154px #000, 612px 1504px #000, 1932px 818px #000,
    997px 1516px #000, 1648px 33px #000, 1772px 567px #000, 1719px 251px #000,
    43px 359px #000, 1594px 1030px #000, 88px 39px #000, 1755px 947px #000,
    1506px 280px #000, 1165px 626px #000, 1747px 1878px #000, 848px 121px #000,
    1565px 976px #000, 1401px 1495px #000, 1340px 545px #000, 105px 1097px #000,
    990px 1641px #000, 1073px 581px #000, 656px 160px #000, 479px 720px #000,
    1928px 1823px #000, 536px 33px #000, 1280px 1796px #000, 203px 560px #000,
    1152px 202px #000, 1040px 999px #000, 1221px 710px #000, 1572px 337px #000,
    776px 358px #000, 1817px 1108px #000, 1538px 1955px #000, 1329px 55px #000,
    1611px 1396px #000, 837px 1504px #000, 1564px 242px #000, 231px 1506px #000,
    283px 374px #000, 604px 988px #000, 759px 1371px #000, 1601px 133px #000,
    806px 301px #000, 827px 12px #000, 231px 1511px #000, 1999px 491px #000,
    1118px 890px #000, 616px 949px #000, 1553px 325px #000, 1040px 1147px #000,
    1697px 1788px #000, 419px 1517px #000, 1855px 1448px #000,
    1675px 1880px #000, 377px 943px #000, 1725px 43px #000, 468px 1384px #000,
    307px 1549px #000, 1407px 1616px #000, 772px 423px #000, 859px 1092px #000,
    972px 473px #000, 1729px 950px #000, 85px 787px #000, 921px 699px #000,
    1386px 879px #000, 1352px 902px #000, 347px 1180px #000, 1587px 984px #000,
    1747px 801px #000, 1200px 274px #000, 845px 985px #000, 788px 476px #000,
    19px 1496px #000, 871px 1115px #000, 1957px 8px #000, 1369px 1606px #000,
    240px 954px #000, 817px 1331px #000, 71px 1453px #000, 323px 1699px #000,
    816px 810px #000;
}
.light-theme #dots3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1074px 1819px #000, 431px 110px #000, 900px 271px #000,
    498px 1959px #000, 601px 548px #000, 625px 484px #000, 672px 253px #000,
    800px 1802px #000, 108px 1232px #000, 16px 1153px #000, 1536px 1108px #000,
    79px 1013px #000, 107px 1965px #000, 1108px 1772px #000, 1502px 1435px #000,
    1222px 1777px #000, 225px 277px #000, 1292px 143px #000, 1691px 1070px #000,
    1121px 1905px #000, 1290px 960px #000, 1901px 261px #000, 1495px 1677px #000,
    162px 1129px #000, 985px 62px #000, 1282px 860px #000, 1356px 1285px #000,
    1904px 1597px #000, 538px 476px #000, 266px 887px #000, 1614px 1197px #000,
    447px 1027px #000, 388px 1950px #000, 1513px 1150px #000, 1770px 33px #000,
    961px 234px #000, 354px 1024px #000, 671px 1288px #000, 1535px 359px #000,
    2000px 697px #000, 1053px 966px #000, 1398px 485px #000, 1159px 1319px #000,
    649px 1935px #000, 656px 780px #000, 245px 376px #000, 229px 752px #000,
    325px 221px #000, 259px 927px #000, 803px 1706px #000, 1614px 1646px #000,
    865px 1483px #000, 1562px 1679px #000, 959px 1367px #000, 381px 1253px #000,
    1238px 440px #000, 636px 1183px #000, 1225px 1551px #000, 693px 30px #000,
    1419px 1068px #000, 229px 355px #000, 1200px 608px #000, 1917px 1803px #000,
    366px 1319px #000, 1850px 786px #000, 399px 1438px #000, 395px 1027px #000,
    1751px 1717px #000, 1543px 870px #000, 6px 510px #000, 1517px 1046px #000,
    1496px 27px #000, 433px 1196px #000, 931px 625px #000, 1421px 249px #000,
    1281px 970px #000, 1606px 1087px #000, 893px 1601px #000, 1524px 1898px #000,
    1725px 915px #000, 1226px 1524px #000, 819px 528px #000, 1780px 508px #000,
    1967px 886px #000, 957px 672px #000, 1813px 1482px #000, 962px 1191px #000,
    569px 618px #000, 478px 1563px #000, 371px 1061px #000, 771px 1841px #000,
    925px 282px #000, 89px 328px #000, 514px 731px #000, 1352px 1373px #000,
    1484px 1203px #000, 949px 399px #000, 1304px 17px #000, 1839px 589px #000,
    149px 691px #000;
  animation: animStar 150s linear infinite;
}
.light-theme #dots3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1074px 1819px #000, 431px 110px #000, 900px 271px #000,
    498px 1959px #000, 601px 548px #000, 625px 484px #000, 672px 253px #000,
    800px 1802px #000, 108px 1232px #000, 16px 1153px #000, 1536px 1108px #000,
    79px 1013px #000, 107px 1965px #000, 1108px 1772px #000, 1502px 1435px #000,
    1222px 1777px #000, 225px 277px #000, 1292px 143px #000, 1691px 1070px #000,
    1121px 1905px #000, 1290px 960px #000, 1901px 261px #000, 1495px 1677px #000,
    162px 1129px #000, 985px 62px #000, 1282px 860px #000, 1356px 1285px #000,
    1904px 1597px #000, 538px 476px #000, 266px 887px #000, 1614px 1197px #000,
    447px 1027px #000, 388px 1950px #000, 1513px 1150px #000, 1770px 33px #000,
    961px 234px #000, 354px 1024px #000, 671px 1288px #000, 1535px 359px #000,
    2000px 697px #000, 1053px 966px #000, 1398px 485px #000, 1159px 1319px #000,
    649px 1935px #000, 656px 780px #000, 245px 376px #000, 229px 752px #000,
    325px 221px #000, 259px 927px #000, 803px 1706px #000, 1614px 1646px #000,
    865px 1483px #000, 1562px 1679px #000, 959px 1367px #000, 381px 1253px #000,
    1238px 440px #000, 636px 1183px #000, 1225px 1551px #000, 693px 30px #000,
    1419px 1068px #000, 229px 355px #000, 1200px 608px #000, 1917px 1803px #000,
    366px 1319px #000, 1850px 786px #000, 399px 1438px #000, 395px 1027px #000,
    1751px 1717px #000, 1543px 870px #000, 6px 510px #000, 1517px 1046px #000,
    1496px 27px #000, 433px 1196px #000, 931px 625px #000, 1421px 249px #000,
    1281px 970px #000, 1606px 1087px #000, 893px 1601px #000, 1524px 1898px #000,
    1725px 915px #000, 1226px 1524px #000, 819px 528px #000, 1780px 508px #000,
    1967px 886px #000, 957px 672px #000, 1813px 1482px #000, 962px 1191px #000,
    569px 618px #000, 478px 1563px #000, 371px 1061px #000, 771px 1841px #000,
    925px 282px #000, 89px 328px #000, 514px 731px #000, 1352px 1373px #000,
    1484px 1203px #000, 949px 399px #000, 1304px 17px #000, 1839px 589px #000,
    149px 691px #000;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
