/* Light mode for all span  */
.light-theme span {
  color: #000;
}
/* Light mode background color */
.light-theme {
  background-image: linear-gradient(
    to bottom right,
    #f1f1f1,
    #e3e3e3,
    #d4d4d4,
    #c6c6c6,
    #b8b8b8,
    #aaaaaa
  );
}
/* Light mode panel screen color */
.light-theme .screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  border: rgba(213, 210, 210, 0.2);
  background: rgba(168, 166, 166, 0.4);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform;
}
.light-theme .screen[data-x-pos="-1"][data-y-pos="1"],
.light-theme .screen[data-x-pos="-1"][data-y-pos="0"],
.light-theme .screen[data-x-pos="-1"][data-y-pos="-1"],
.light-theme .screen[data-y-pos="1"][data-x-pos="0"],
.light-theme .screen[data-y-pos="-1"][data-x-pos="0"],
.light-theme .screen[data-x-pos="1"][data-y-pos="1"],
.light-theme .screen[data-x-pos="1"][data-y-pos="0"],
.light-theme .screen[data-x-pos="1"][data-y-pos="-1"] {
  z-index: 2;
  border: rgba(255, 255, 255, 0.4);
  background: rgba(168, 166, 166, 0.4);
}
/* Light mode screen nav color */
.light-theme .screen_nav {
  color: rgb(0, 0, 0);
}
/* Light mode h2 font color */
.light-theme h2 {
  margin: 0;
  font-weight: 200;
  color: #000000;
  text-shadow: 0rem 0.1rem 1rem #575658;
  font-size: 4em;
  animation: crt-output 0.5ms infinite;
}
/* Light mode game page animation  */
.light-theme div.loader {
  color: #000000;
}
/* Light mode link color */
.light-theme #game_enter {
  color: #000000;
}
/* Light mode social icon border color  */
.light-theme ul li a {
  border: 3px solid #000;
}
/* Light mode social hover background color  */
.light-theme ul li:nth-child(1) a:before,
.light-theme ul li:nth-child(2) a:before,
.light-theme ul li:nth-child(3) a:before,
.light-theme ul li:nth-child(4) a:before {
  background: rgb(38, 38, 38);
}
/* Light mode label and toggle check box color  */
.light-theme label:after,
.light-theme #toggle_checkbox:checked + label:before {
  border: 3px solid #000;
}
.light-theme #toggle_checkbox:checked + #checkbox:before {
  border-color: rgb(0, 0, 0);
}

.light-theme span.zoom:before {
  color: #000;
}
.light-theme span.active:after,
.light-theme span:hover:after {
  border-color: #000;
}
/* Light mode for login & signup */
.light-theme .login-icon,
.light-theme .signup-icon,
.light-theme element {
  color: #000;
  opacity: 0.65;
}
.light-theme .login-box .user-box input:focus ~ label,
.light-theme .login-box .user-box input:valid ~ label,
.light-theme .signup-box .user-box input:focus ~ label,
.light-theme .signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ee0d0d;
  font-size: 12px;
}
.light-theme .login-box a:hover,
.light-theme .signup-box a:hover {
  background: #d51515;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #db4804, 0 0 25px #b30e0e, 0 0 50px #ea5039,
    0 0 100px #e44646;
}
.light-theme .login-box form a,
.light-theme .signup-box form a {
  color: #b30e0e;
}
.light-theme .login-box a span:nth-child(1),
.light-theme .signup-box a span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #d30b0b);
}
.light-theme .login-box a span:nth-child(2),
.light-theme .signup-box a span:nth-child(2) {
  background: linear-gradient(180deg, transparent, #d30b0b);
}
.light-theme .login-box a span:nth-child(3),
.light-theme .signup-box a span:nth-child(3) {
  background: linear-gradient(270deg, transparent, #d30b0b);
}
.light-theme .login-box a span:nth-child(4),
.light-theme .signup-box a span:nth-child(4) {
  background: linear-gradient(360deg, transparent, #d30b0b);
}
